<template data-compare-row-template>
  <section class="product-comparison__spec">
    <div
      class="product-comparison__spec-label"
      data-spec-label
    ></div>
    <div
      class="product-comparison__spec-grid"
      data-spec-values
    ></div>
  </section>
</template>
